@{
    ViewData["Title"] = "Home";
    Layout = "_PizarraLayout";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Pizarra</h1>
    <form action="/Home/PizarraColaborativa" method="post">
        <div class="form-group">
            <label for="nombre">Ingrese su nombre</label>
            <input type="text" class="mt-1" id="nombre" name="nombre"/>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>

</div>
