@{
    Layout = "_PizarraLayout";
}


    <div class="row my-4">
        <div class="col-md-6">
            <input type="text" class="form-control" id="salaInput" placeholder="Nombre de la sala">
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" id="crearSala">Crear/Unirse a Sala</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="pizarra" width="800" height="600"></canvas>
        </div>
        <div class="col">
            <input type="color" id="color" class="form-control mb-2" value="#000000">
            <input type="number" id="size" class="form-control mb-2" value="1" min="1" max="10">
            <button class="btn btn-secondary btn-block" id="limpiar">Limpiar</button>
            <div class="mt-4">
                <h5>Usuarios Conectados</h5>
                <div id="usuariosConectados" class="border p-2"></div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8">
            <div id="chat-container" class="border p-2">
                <div id="messagesList"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-2">
                <input type="text" id="messageInput" class="form-control" placeholder="Escribe un mensaje...">
                <div class="input-group-append">
                    <button class="btn btn-success" id="sendButton">Enviar</button>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pizarra.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
